<div
  class="w-[375px] border p-5 border-neutral-100 rounded shadow space-y-5 flex flex-col bg-white"
>
  <app-logo-component
    [textHeader]="client ? 'Espace patient' : 'Espace professionnel'"
  ></app-logo-component>
  <div class="w-full flex flex-col">
    <p class="text-lg font-semibold">{{ 'Mot de passe oublié' }}</p>
    <p class="text-xs text-neutral-500">
      {{ 'Saisissez votre email professionnel pour recevoir un code de réinitialisation.' }}
    </p>
  </div>
  <form class="space-y-4" (ngSubmit)="send()" [formGroup]="formGroup">
    <div class="w-full flex flex-col space-y-1">
      <label for="email" class="text-sm font-semibold text-neutral-800">{{
        'Email professionnel'
      }}</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="w-full border border-neutral-200 rounded p-2 text-sm placeholder:text-neutral-600 outline-none focus:border-blue-600 transition-colors duration-300"
        autocomplete="email"
        placeholder="{{ client ? 'nom.prenom@patient.com' : 'nom.prenom@personnel.com' }}"
      />
      @if (formGroup.get('email')?.invalid && formGroup.get('email')?.touched) {
      <div class="w-full">
        <small class="text-red-500"> {{ 'Veuillez entrer une adresse email valide.' }} </small>
      </div>
      }
    </div>

    <app-button-component
      label="Envoir l'email de réinitialisation"
      [disabled]="formGroup.invalid"
      [loading]="loading"
    ></app-button-component>
  </form>

  <div class="flex flex-col items-center space-y-2.5">
    <a
      class="text-sm text-blue-600 hover:text-blue-700 hover:cursor-pointer transition-colors duration-300 self-start flex items-center space-x-1.5 font-medium"
      [routerLink]="client ? ['/authentication/login'] : ['/authentication/login/professional']"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-left-icon lucide-chevron-left size-4"
      >
        <path d="m15 18-6-6 6-6" />
      </svg>
      {{ 'Retour à la connexion' }}</a
    >
    <p class="text-xs text-neutral-500 text-center">© 2025 Clinix. Tous droits réservés.</p>
  </div>
</div>
