<div
  class="w-[375px] border p-5 border-neutral-100 rounded shadow space-y-5 flex flex-col bg-white"
>
  <app-logo-component
    [textHeader]="client ? 'Espace patient' : 'Espace professionnel'"
  ></app-logo-component>
  <div class="w-full flex flex-col">
    <p class="text-lg font-semibold">{{ 'Mot de passe oublié' }}</p>
    <p class="text-xs text-neutral-500">
      {{ 'Saisissez votre nouveau mot de passe et le code de réinitialisation.' }}
    </p>
  </div>
  <form class="flex flex-col space-y-4" (ngSubmit)="change()" [formGroup]="formGroup">
    <div class="w-full flex flex-col space-y-1">
      <label for="password" class="text-sm font-semibold text-neutral-800">{{
        'Nouveau mot de passe'
      }}</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="w-full border border-neutral-200 rounded p-2 text-sm placeholder:text-neutral-600 outline-none focus:border-blue-600 transition-colors duration-300"
        autocomplete="password"
        placeholder="{{ '••••••••••••' }}"
      />
      @if (formGroup.get('password')?.invalid && formGroup.get('password')?.touched) {
      <div class="w-full">
        <small class="text-red-500">
          {{ 'Le mot de passe doit contenir au moins 6 caractères.' }}
        </small>
      </div>
      }
      @if (formGroup.get('email')?.invalid && formGroup.get('email')?.touched) {
      <div class="w-full">
        <small class="text-red-500"> {{ 'Veuillez entrer une adresse email valide.' }} </small>
      </div>
      }
    </div>

    <app-one-time-password-component
      #otpComp
      [length]="6"
      (complete)="formGroup.controls['otp'].setValue($event)"
    ></app-one-time-password-component>
    <input id="just-to-get-otp" formControlName="otp" hidden />

    <app-button-component
      label="Réinitialiser le mot de passe"
      [disabled]="formGroup.invalid"
      [loading]="loading"
    ></app-button-component>
  </form>

  <div class="flex flex-col items-center space-y-2.5">
    <p class="text-xs text-neutral-500 text-center">© 2025 Clinix. Tous droits réservés.</p>
  </div>
</div>
